@model IEnumerable<Trabalho_Final.Models.Cartao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nr_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nr_Cartao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nr_Cartao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nr_Cartao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
